<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error de inicio de sesión</title>
</head>
<body>
    <h1>Error de inicio de sesión</h1>
    <p>Lo sentimos, las credenciales que ingresaste son incorrectas. Por favor, inténtalo de nuevo.</p>
    <a href="{% url 'login' %}">Volver al formulario de inicio de sesión</a>
    <p>Quieres volver al inicio?</p>
    <a href="{% url 'index' %}">Volver al inicio</a>
</body>
</html>
